<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 不同Mapper文件的namespace值应该保证唯一 在程序中通过[ namespace + id ]定位到要执行哪一条SQL语句 -->
<mapper namespace="com.tedu.mapper.EmpMapper">

	<cache/>

	<select id="findAll" resultType="com.tedu.pojo.Emp">
		select * from emp
	</select>
	
</mapper>




















